@import url(https://fonts.googleapis.com/css?family=Pinyon+Script);
@import url(https://fonts.googleapis.com/css?family=Inter);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      
}

body {
  background-color: black; 
  color: white;
  font-family: Inter;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHFuaHA4bTMyMWJqY3J3bTFzcGhscHRnczd4Z3Ruank2OThsbDAxdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ST4ZBlR8bktCFRIwTP/giphy.gif");
  background-size: cover;
  opacity: 0.5; 
  z-index: -1;
}

.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Pinyon Script;
}
.nav-left {
  float: left;
  padding-top: 2px;
  padding-left: 10px;
}
.nav-right a {
  float: right;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 20px;
}
.nav-right a:hover {
  background-color: #1D2020;
  color: white;
  text-decoration: none;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}
.hero-container.visible {
    opacity: 1;
    transform: translateY(0);
}
.column-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 100%;
  max-height: 100vh;
  object-fit: contain;
}

.content {
  padding: 0 10rem;
  margin-top: 280px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}
.content.visible {
  opacity: 1;
  transform: translateY(0);
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.connect {
  position: relative;
  display: inline-block;
}
.connect .icons {
  display: none;
  margin-left: 10px;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}
.connect:hover .icons {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.connect .icons.show {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.connect .icons a {
  margin-right: 10px;
  line-height: 0; 
}
.connect .icons img {
  vertical-align: middle; 
}

.experience {
  padding: 0 10rem;
  margin: 50px auto;
  margin-top: 150px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}
.experience.visible {
  opacity: 1;
  transform: translateY(0);
}
.header-exp {
  margin-bottom: 30px;
}
.exp-date {
  font-size: 14px;
  padding-top: 0.5rem;
  color: #999;
}
.experience-card {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.experience-card:hover {
  background: #1D2020;
}
.details {
  margin-top: 10px;
  list-style-type: disc;
  
  max-height: 0; 
  overflow: hidden;
  transition: max-height 0.4s ease-out, opacity 0.3s ease-in-out;
  opacity: 0;
}
.experience-card.active .details {
  max-height: 150px; 
  opacity: 1;
}
